p {
  color: blue;
}
.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  bottom: 150px;
  position: static;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-color: green;
  text-transform: uppercase;
  font-family: arial;
  padding: 20px 5px 20px 5px;
}
.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  left: 250px;
  position: relative;
  top: -160px;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-color: red;
  text-transform: uppercase;
  font-family: arial;
  padding: 20px;
}
.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  position: relative;
  left: 530px;
  top: -320px;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-color: yellow;
  text-transform: uppercase;
  font-family: arial;
  padding: 20px;
}
